<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
    <!-- The above code is one of templating -->
    <title>Name Card</title>
</head>
<body>
    <div class="background"></div>
    <div class="hero-portion">
        <hr class="divider-line">
        <img src="static/image.png" alt="profile picture" id="profilePic">
        <h1 id="name">S. Yogaprakash</h1>
        <h2 id="role">Engineering Graduate</h2>
        <div class="social-links">
            <a href="https://github.com/yogaprakash018-afk" class="social-btn"><i class="fab fa-github"></i></a>
            <a href="www.linkedin.com/in/s-yogaprakash" class="social-btn"><i class="fab fa-linkedin-in"></i></a>
            <a href="mailto:yogaprakash018@gmail.com" class="social-btn"><i class="bi bi-envelope-at-fill"></i></a>
        </div>
    </div>

    <footer>
        &copy; Yogaprakash
    </footer>
</body>
</html>
